.navigation{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 10px 0;
    align-items: center;
}

.logo img{
    height: 40px;
}
.menu-items a{
    padding: 0 10px;
    text-decoration: none;
    color: #2c2c2c;
    transition: .3s;

}

.menu-items a:hover{
    color: black;
    font-weight: bolder;
}
.right-menu a{
    padding: 0 10px;
    text-decoration: none;
    color: #1e1e1e;
}
.right-menu a:nth-child(2){
    background-color: green;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
}